.form {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.search {
  width: 500px;
  padding: 8px 30px 8px 16px;
  border: 1px solid #2a4362;
  border-radius: 4px;
  color: #2a4362;
  font-size: 18px;
  transition: outline 250ms ease-in-out;
}

.search:focus {
  outline: 2px solid #2a4362;
}

.search::placeholder {
  color: rgba(42, 67, 98, 0.5);
  font-weight: 400;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 4px;
  right: 400px;
}
