.button {
  display: block;
  margin: 20px auto 20px auto;
  padding: 8px 16px;
  background-color: #2a4362;
  color: #f2f3f5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: transform 250ms ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.button:hover {
  transform: scale(1.1);
}
